#about > h2, #about > h5 {
  text-align: start;
  margin-left: 10%;
  font-size: 2rem;
}

#about > h2 {
  margin-top: 0;
}

#about > h5 {
  font-size: 1.3rem;
  font-weight: 100;
}

#about {
  /* padding: 0px 250px; */
  margin-top: 3rem;
}
.about__container {
    display: grid;
    grid-template-columns: 50% 35%;
    gap: 15%;
  }
  
  /* .about__me {
     width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
      45deg,
      transparent,
      var(--color-primary),
      transparent
    );
    display: grid;
    place-items: center; 
  } */

  .about__me {
    /* border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition); */
    position: relative;
    width: 400px;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    overflow: hidden;
  }

  .about__me::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #00ccff, #d400d4);
    transition: 0.5s;
    animation: animate 30s linear infinite;
  }
  .about__me:hover:before {
    inset: -20px 0px;
  }

  @keyframes animate {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(360deg);
    }
  }

  .about__me::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
  }
  
  .about__me-image {
    /* border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition); */
    position: absolute;
    inset: 30px;
    border: 6px solid #070a1c;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about__me-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
  }

  .about__me:hover .about__me-image img {
    opacity: 0;
  }

  .about__me-image h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .about__me-image  h2 span {
    font-weight: 300;
    font-size: 0.75em;
  }

  .about__me-image a {
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background:  #fff;
    color: #070a1c;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
  }

  .about__me-image a:hover {
    letter-spacing: 0.2em;
    color: #070a1c;
  }
  
  /* .about__me-image:hover {
    transform: rotate(0deg);
  } */
  
  .about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  
  .about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    transition: var(--transition);
  }

  .about__card-image {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }
  
  .about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
  }
  
  .about__icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .about__card h5 {
    font-size: 0.95rem;
  }
  
  .about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
  }
  
  .about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
  }

  /* ============== CTA ============== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============== HEADER SOCIALS ============== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  margin-left: 2.5rem;
  left: 0;   
  bottom: 3rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============== SCROLL DOWN ============== */

.scroll__down {
  position: absolute;
  margin-right: 2.5rem;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

  
  /* ================= MEDIA QUERIES (MEDIUM DEVICES) ============== */
  @media screen and (max-width: 1160px) {
      .about__container {
          grid-template-columns: 1fr 1.5fr;
          gap: 5%;
      }
  
      /* .about__me {
          width: 50%;
          margin: 2rem auto 4rem;
      } */
  
      .about__content p {
          margin: 1rem 0 1.5rem;
      }
  }

  /* @media screen and (max-width: 990px) {
    .about__container {
        grid-template-columns: 1fr 1.5fr;
        gap: 5%;
    }

     .about__me {
      width: 50%;
      height: 50%;
        margin: 2rem auto 4rem;
    } 

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
} */
  
  /* ================= MEDIA QUERIES (SMALL DEVICES) ============== */
  @media screen and (max-width: 990px) {
    .about__container {
      grid-template-columns: 1fr 2fr ;
      gap: 5%;
  }
      .about__me {
          /* width: 100%; */
          margin: 0 auto 3rem;
      }
      
      .about__cards {
          grid-template-columns: 1fr 1fr;
          gap: 1rem;
      }
  
      .about__content {
          text-align: center;
      }
  
      .about__content p {
          margin: 1.5rem 0;
      }

      /* .header__socials,
    .scroll__down {
        display: none;
    } */
  }
  

  @media screen and (max-width: 800px) {
    .about__container {
      grid-template-columns: 1fr;
      gap: 5%;
      /* grid-auto-flow: dense; */
      display: flex;
      flex-direction: column-reverse;
  }
      .about__me {
          /* width: 100%; */
          margin: 0 auto 3rem;
      }
      
      .about__cards {
          grid-template-columns: 1fr 1fr 1fr;
          gap: 1rem;
      }
  
      .about__content {
          text-align: center;
      }
  
      .about__content p {
          margin: 1.5rem 0;
      }

      /* .header__socials,
    .scroll__down {
        display: none;
    } */
  }